﻿@model FizzBuzz.Web.Models.FizzBuzzModel

@{
    ViewBag.Title = "Basic FizzBuzz Application";
}

<h2>Input Screen</h2>
@using (Html.BeginForm("FizzBuzzView", "FizzBuzz"))
{
    <div>
        <fieldset>
            <table>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.FizzBuzzNumber)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.FizzBuzzNumber)
                            @Html.ValidationMessageFor(m => m.FizzBuzzNumber)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <input type="submit" name="DisplayList" value="Display List" />
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>

    if (Model.FizzBuzzNumberList != null && Model.FizzBuzzNumberList.Count > 0)
    {
    <div>
        <fieldset>
            <table>
                <tr>
                    <td width="50%">Showing Page <b>@Model.fizzbuzzPaging.PageIndex</b> of <b>@Model.fizzbuzzPaging.PageCount</b> Pages
                    </td>
                    <td width="50%" align="right">
                        <input type="submit" name="Previous" value="Previous" id="Previous" @{ if (Model.fizzbuzzPaging.PageIndex == 1 == true)
                                                                                               { 
             @:disabled="disabled" 
        } }/>
                        <input type="submit" name="Next" value="Next" id="Next" @{ if (Model.fizzbuzzPaging.PageIndex == Model.fizzbuzzPaging.PageCount == true)
                                                                                               { 
             @:disabled="disabled" 
        } }/>
                    </td>
                </tr>
                @foreach (var number in Model.FizzBuzzNumberList)
                {
                    <tr>
                        <td colspan="2">
                            @if (string.IsNullOrEmpty(number.MessageStyle))
                            {
                                <div class="@number">@number.DisplayMessage</div>
                            }
                            else
                            {
                                <div style="color:@number.MessageStyle" class="@number">@number.DisplayMessage</div>
                            }
                        </td>
                    </tr>
                }
            </table>
        </fieldset>
        <br />
    </div>
    <br />
  
    }
}




